/* body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
 .nav-link {
    color: white;
  }

  .nav-link:hover {
    color: rgb(174, 191, 59);
  } */
  *{

    box-sizing: border-box;
  }
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }


  .header{
    text-align: center;
    padding: 32px;
  }

  h1,
  h2,
  h3 {
    margin: 0.5rem 0;
  }

  h1{
    font-size: 1.5rem;
  }
  h2{
    font-size: 1.2rem;
  }
  h3{
    font-size: 1rem;
  }
  a {
    text-decoration: none;
  }
  /* .row {
    display: flex;
    justify-content: space-between;
  } */
  .row {
    display: -ms-flexbox; /* IE 10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE 10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }


/* Create two equal columns that sits next to each other */
.column {
  -ms-flex: 50%; /* IE 10 */
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #f8d262;;
  cursor: pointer;
  font-size: 18px;
}

.navigation-link {
  color: white; /* Set your desired link color */
  text-decoration: none; /* Remove default underline */
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: hsl(305, 65%, 58%);
  color: white;
}
  

  .col-1 {
    flex:1;
  }

  .col-2 {
    flex:2;
  }

  .col-3 {
    flex:3;
  }

  .block {
    background-color: #e0e0e0;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
  }

  .row.center {
    align-items: center;
  }

  img.small { 
    max-width: 8rem;
    max-height: 8rem; 
  }

  img.medium {
    max-width: 12rem;
    max-height: 12rem;
  }
  img.large {
    max-width: 16rem;
    max-height: 16rem;
  }

  /* .card{
    background-color: green;
    padding: 1rem;
    margin: 0.5rem;
  } */

  button {
    font-size: 0.8rem;
    padding: 0.2rem;
    margin: 0.1rem;
    border-radius: 0.5rem;
    border: 0.4rem #404040 solid;
    background-color: #f0c040;
    width: 100%;
    cursor: pointer;
  }