* {
    margin: 0px; 
    padding: 0px;
}

.search {
    
    
    

    /* display: flex;
    justify-content: center;
    margin-top: 0px; */
}

.search Input {
    width: 330px; 
    background: transparent;
    padding: 10px; 
    border: 03px solid #1831a2;
    border-radius: 30px;
    outline: 0px;
    
}

.searchIcon {
    color: #009933;
    font-size: 20px;
}
  
  input:focus {
    outline: none;
  }


  .dataResult {
    /* margin-top: 5px;
    width: 300px;
    height: 200px; */
    margin: 0 auto;
    width: 300px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
  }
  
  /* .dataResult::-webkit-scrollbar {
    display: none;
  } */
  
  .dataResult .dataItem {
    text-align: left;
    width: 100%;
    height: 50px;
    /* display: flex;
    align-items: center; */
    color: black;
  }
  
  .dataItem p {
    margin-left: 10px;
  }
  a {
    text-decoration: none;
  }
  
  a:hover {
    background-color: lightgrey;
  }
  
  #clearBtn {
    cursor: pointer;
  }